---
name: Bandit Scan

on:
  push: null
  pull_request: null

permissions:
      contents: read
      packages: read
      # To report GitHub Actions status checks
      statuses: write
      
jobs:
  bandit-scan:
    name: Bandit Scan
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v5
        with:
          fetch-depth: 0
          persist-credentials: false

      - name: Run Bandit
        uses: shundor/python-bandit-scan@v1.0
        with:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          path: "."
          level: high
          confidence: high
          exit_zero: true