---
name: Bandit Scan

on:
  push: null
  pull_request: null

permissions: {}

jobs:
  bandit-scan:
    name: Bandit Scan
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v5
        with:
          fetch-depth: 0
          persist-credentials: false

      - name: Run Bandit
        uses: shundor/bandit-action@a255dfaecbd1b4dbdb09d10a1f69e9f1874e5999
        with:
          path: "."
          level: high
          confidence: high
          exit_zero: true
